FLIGHT_DATABASE_PATH=./var/flights.db
FLIGHT_PROVIDER=aerodatabox
FLIGHT_PROVIDER_API_KEY=
FLIGHT_PROVIDER_BASE_URL=https://aerodatabox.p.rapidapi.com
FLIGHT_PROVIDER_HOST=aerodatabox.p.rapidapi.com
FLIGHT_ADMIN_TOKEN=change-me
FLIGHT_MAX_QUERY_DAYS=31

